@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

:root {
  --link-color:#0db596;
  --green:#18bc9c;
  --blue:#4daded;
  --yellow:#f39c13;
  --text-color:#9a999e;
  --dark-grey:#3a3942;
  --medium-grey:#95a5a6;
  --light-grey:#eeeeee;
  --white:#fff;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  width: 100%;
  height: 100vh;
  background: #323232;
  color: var(--dark-grey);
}

.search-container {
  width: 100%;
  display: flex;
  padding: 15px;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

.search-container .search-card {
  width: 100%;
  max-width: 850px;
  background: var(--white);
  border-radius: 5px;
  padding: 20px 28px;
  box-shadow: 0 0px 1rem rgba(0, 0, 0, 0.1);
}

.search-card h1 {
  font-size: calc(28 / 16 * 1rem);
  padding-bottom: 5px;
}

.search-card p {
  font-weight: 500;
  color: var(--text-color);
  font-size: calc(18 / 16 * 1rem);
  padding-bottom: 15px;
}

.search-card .wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.search-card .wrapper input {
  padding: 6px 8px;
  font-size: 0.9rem;
  border-radius: 0 4px 4px 0;
  border: 2px solid var(--light-grey);
  width: 100%;
  max-width: 80%;
  font-weight: 500;
  color: var(--text-color);
  outline: none;
  transition: all 0.3s ease;
}

.search-card .wrapper input::placeholder {
  color: var(--text-color);
}

.search-card .wrapper .github-symbol {
  background: var(--light-grey);
  color: var(--text-color);
  padding: 8px;
  border-radius: 4px 0 0 4px;
  font-size: 0.9rem;
}

.search-card .wrapper .github-symbol i {
  margin-right: 3px;
}

#profile {
  width: 100%;
  max-width: 850px;
}

/* Card Body */

.card-body {
  width: 100%;
  max-width: 850px;
  background: var(--white);
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 0px 1rem rgba(0, 0, 0, 0.1);
}
.card-body .row {
  display: flex;
}
.card-body .primary-column {
  display: flex;
  flex-direction: column;
}

.card-body .row .primary-column img {
  width: 200px;
  height: 100%;
  margin-bottom: 10px;
}

.card-body .row .primary-column a,
.card-body .row .primary-column a:visited {
  text-align: center;
  cursor: pointer;
  padding: 7px;
  font-weight: 500;
  letter-spacing: 1px;
  border-radius: 4px;
  text-decoration: none;
  font-size: 0.9rem;
  color: var(--white);
  background: var(--dark-grey);
  transition: all 0.3s ease;
}

.card-body .row a:hover {
 color: blue;

}

.card-body .row .wrapper-column {
  margin-left: 30px;
}
.card-body .row .wrapper-column .secondary-column {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.card-body .row .wrapper-column .secondary-column span {
  font-size: 0.8rem;
  color: var(--white);
  font-weight: 500;
  padding: 5px 10px;
  border-radius: 4px;
}

.card-body .row .wrapper-column .secondary-column span:first-child {
  background: var(--dark-grey);
  margin: 0;
}

.card-body .row .wrapper-column .secondary-column span:nth-child(2) {
  background: #95a5a6;
}

.card-body .row .wrapper-column .secondary-column span:nth-child(3) {
  background: var(--green);
}

.card-body .row .wrapper-column .secondary-column span:nth-child(4) {
  background: var(--blue);
}

.list-group {
  margin-top: 20px;
  list-style: none;
}

.list-group .list-group-item {
  margin: 15px 0;
  padding-bottom: 15px;
  border-bottom: 1px solid var(--light-grey);
}

.list-group .list-group-item .thick {
  font-weight: 600;
}

.list-group .list-group-item:last-child {
  padding-bottom: 0;
  border: 0;
  margin-bottom: 0;
}

.list-group .list-group-item a,
.list-group .list-group-item a:visited {
  text-decoration: none;
  color: var(--link-color);
}

.list-group .list-group-item a:hover {
  background: none;
  color: #108a74;
  text-decoration: underline;
}

.list-group .list-group-item .company .yellow,
.list-group .list-group-item .blog .yellow,
.list-group .list-group-item .location .yellow,
.list-group .list-group-item .member-since .yellow {
  background: var(--yellow);
  font-size: 0.8rem;
  color: var(--white);
  font-weight: 500;
  padding: 5px 10px;
  border-radius: 4px;
}

.page-heading {
  font-size: calc(28 / 16 * 1rem);
  margin: 25px 0;
}

#repos {
  width: 100%;
  max-width: 850px;
  background: var(--white);
  border-radius: 5px;
  box-shadow: 0 0px 1rem rgba(0, 0, 0, 0.1);
}

#repos .card-repo {
  border-bottom: 1px solid var(--light-grey);
}

#repos .card-repo .row {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#repos .card-repo a,
#repos .card-repo a:visited {
  font-weight: 600;
  font-size: calc(20 / 16 * 1rem);
  text-decoration: none;
  color: var(--link-color);
  word-break: break-all;
}

#repos .card-repo a:hover {
  background: none;
  color: #108a74;
  text-decoration: underline;
}

#repos .card-repo:first-child {
  margin: 0;
}

#repos .card-repo:last-child {
  border: none;
  padding: 0;
  margin: 0;
}

#repos .card-repo .col-repo {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

#repos .card-repo .badge {
  font-size: 0.8rem;
  color: var(--white);
  font-weight: 500;
  padding: 5px 10px;
  border-radius: 4px;
}

#repos .card-repo .badge:first-child {
  background: var(--yellow);
  margin: 0;
}

#repos .card-repo .badge:nth-child(2) {
  background: var(--blue);
}

#repos .card-repo .badge:nth-child(3) {
  background: var(--green);
}

footer {
  padding: 20px 0 30px 0;
  text-align: center;
  color: var(--medium-grey)
}

footer a,
footer a:visited {
  color: var(--dark-grey);
  transition: all 0.3s ease;
}

footer a:hover {
  color: #3a3942cb;
}

/* MEDIA QUERY */

@media screen and (max-width: 644px) {
  .search-card h1 {
    font-size: calc(28 / 16 * 1rem);
    padding-bottom: 5px;
  }

  .search-card .lead {
    font-weight: 500;
    width: 100%;
    padding-bottom: 15px;
  }

  .search-card .wrapper {
    margin-bottom: 10px;
  }

  .search-card .wrapper input {
    max-width: 70%;
  }

  /* Card Body */

  .card-body .row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .card-body .row .primary-column a,
  .card-body .row .primary-column a:visited {
    margin-bottom: 10px;
  }

  .card-body .row .wrapper-column {
    margin-left: 0;
  }
}

/* MEDIA QUERY */

@media screen and (max-width: 458px) {
  .search-card h1 {
    font-size: calc(22 / 16 * 1rem);
  }

  .search-card .lead {
    font-size: 1rem;
  }

  .search-card .wrapper input {
    max-width: 60%;
    padding: 4px 4px 4px 10px;
    font-size: 0.9rem;
  }

  .search-card .wrapper .github-symbol {
    padding: 8px;
    border-radius: 4px 0 0 4px;
    font-size: 0.8rem;
  }

  /* Card Body */
  .card-body .row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .card-body .row .primary-column a,
  .card-body .row .primary-column a:visited {
    margin-bottom: 20px;
    padding: 6px;
    font-size: 0.85rem;
  }

  .list-group .list-group-item:first-child {
    margin-top: 0px;
  }

  #repos .card-repo a,
  #repos .card-repo a:visited {
    font-size: calc(17 / 16 * 1rem);
  }

  #repos .col-repo {
    margin-top: 6px;
  }

  .page-heading {
    font-size: calc(22 / 16 * 1rem);
  }
}